@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --normal-weight: 400;
  --bold-weight: 700;
  --paragraph-size: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#card {
  background-color: var(--white);
  text-align: center;
  padding: 1rem;
  width: 300px;
  border-radius: 20px;

  img {
    width: 100%;
    border-radius: 10px;
  }

  #card-bottom {
    padding: 0 1rem;

    h1 {
      font-size: 1.3rem;
      color: var(--dark-blue);
      font-weight: var(--bold-weight);
    }

    p {
      font-size: var(--paragraph-size);
      color: var(--grayish-blue);
      font-weight: var(--normal-weight);
      padding-bottom: .5rem;
    }
  }
}

footer {
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: center;
  a {
    color: var(--white);
  }
}
