@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --normal-weight: 400;
  --bold-weight: 700;
  --paragraph-size: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  height: 100%;
}
